@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #292E53; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #222749; }

::-moz-selection {
  background: #5B5988;
  color: #FFFFFF; }

::selection {
  background: #5B5988;
  color: #FFFFFF; }

.jumbotron {
  background-color: #292E53; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #292E53; }

pre {
  background: rgba(244, 243, 244, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #F4F3F4; }

#content code {
  color: #7B7B7E;
  background-color: #F4F3F4; }

#sidebar-wrapper {
  background: #292E53; }

#page-content-wrapper .nav a {
  color: #7B7B7E; }
  #page-content-wrapper .nav a:hover {
    color: #49494B; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #222749; }
.sidebar-nav > li a.active {
  border-left: 3px solid #5B5988;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #222749; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #222749; }
