header ol {
  padding: 0 0 0 20px !important;
  margin: 0 !important;
  width: 270px !important;
  height: auto;
  overflow: visible;
  list-style: none;
  padding-bottom: 20px;
}

header ol li {
  padding: 0;
  margin: 0;
  clear: left;
  border:0;
}
header #top > li {
#  margin-left: -20px;
}
header ol li {
  display: block;
  padding: 5px 0 5px 0;
}
header ol li, header ol {
  white-space: nowrap !important;
  height: auto;
}
hr {
  clear: both;
}
section img {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  padding: 6px;
}
.red {
  color: red;
}

.msg {
  font-style: italic;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.warn {
  background-color: #F5EEA2;
  border: 1px solid #F7D386;
}
.msg p {
  padding: 10px;
  margin: 0;
}

div#header  { 
  height: 100px;
}

div#container {
    text-align:left;
}
div#content p {
    line-height:1.4;
    margin: 10px;
}
div#navigation ol {
    margin:15px 0;
    padding:0;
    list-style-type:none;
}

div#navigation li {
    margin-bottom:5px;
}

div#navigation {
#    float:left;
#    width:200px;
#    margin-top:50px;
#    margin-left:-100%;
}

div#footer p{
    margin:0;padding:5px 10px;
}

div#content {
    margin-top: 20px;
}

div#extra {
    background: #EEEEFF;
    margin-right: 50px;
    margin-top: 50px;
    padding: 10px;
}

div#extra h5 {
    display: inline;
    margin-bottom: 0;
}

div#extra ul {
	display:inline;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

div#extra ul li {
    display: inline;
    font-weight: bold;
    font-size: 0.83em;
    margin-left: 3px;
}

div#footer {
    clear:left;
}

div#content h1 {
    text-align: left;
}

div#commute {
    float: left;
    with: 200px;
    height: 80px;
}

div#commute img {
    max-height:100%;
}

div#toolbox {
    float: right;
    padding-right: 10px;
}

table#tooltable {
  border: none ;
  padding: 0px;
  margin: 0px:
}

table#tooltable tr {
  border: none; 
  padding: 0px;
  margin: 0px:

}
table#tooltable td {
  border: none; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

  padding-left: 5px;
}

table#tooltable a {
  font-weight: bold;
}

table#tooltable td.label {
    text-align: right;
    list-style-type: none;
    font-size: small;
    font-weight: bold;
}
table#tooltable td.link {
    text-align: left;
    list-style-type: none;
    font-size: small;
}



div#navbar {
    background: #E07979;
}

div#navbar ul {
    margin: auto;
    display: block;
    text-align: center;
    list-style-type: none;
    padding: 0;
    

    margin: 0;

    overflow: hidden;
}

div#navbar li {
    display: inline-block;
    
    margin-left: -2px;
    margin-right: 11px;
    margin-bottom: 0px;
    float: left;
}

div#navbar li.active {

  background  : black;
}
div#navbar li a {
    color: white;
}

li#active {
    float: left;
    display: inline-block;
    color: black
    color: white
    
}
li#active a {
    float: left;
    display: inline-block;
    color: black;
    background: white;
    
}

div#navbar a {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

div#banner {
    text-style: upper;
    margin-bottom: 20px;
}


h5 {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    color: #000;
    font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
}

div#tagline {
    font-style: italic;
    text-align: center;
}

hr {
    margin: 5px 12px;
}

