language: scala
scala:
  - 2.11.6
script:
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" &&
          "$TRAVIS_BRANCH" == "master" &&
           $(cat version.sbt) =~ "-SNAPSHOT"
    ]]; then
      sbt ++$TRAVIS_SCALA_VERSION coverage validate coverageReport && bash <(curl -s https://codecov.io/bash) && sbt clean validate publish gitSnapshots publish ;
    else
      sbt ++$TRAVIS_SCALA_VERSION coverage validate coverageReport && bash <(curl -s https://codecov.io/bash) && sbt clean validate publishLocal ;
    fi
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/2d5ea16a2f66f60a590b
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
env:
  global:
    - secure: STYk3FPnQwBHT25T.../O2SWbVYIL74K...XQAw=
    - secure: MwRqcAgpBGrmyRY6.../lB/sjDhMk67Y...Xjgk=
