language: scala

sudo: required

group: edge

git:
  depth: 9999

jdk:
  - openjdk8


scala_version_212: &scala_version_212 2.12.9
scala_version_213: &scala_version_213 2.13.0

before_install:
 - export PATH=${PATH}:./vendor/bundle
 - if [[ ! -z "$HydraLicense" ]]; then
     mkdir -p  /home/travis/.triplequote/metrics/config && echo "$HydraLicense" > "/home/travis/.triplequote/hydra.license" && cp hydra-metrics-service.conf /home/travis/.triplequote/metrics/config/metrics-service.conf;
   fi

stages:
  - name: styling
  - name: test
  - name: publish snapshot
    if: (branch = master AND type = push)

jobs:
  include:
    # it can speed up the overall build to have the longer-running jobs at the top of this list.
    - stage: test
      env: TEST="JS tests"
      # http://austinpray.com/ops/2015/09/20/change-travis-node-version.html
      install: rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
      script: sbt ++$TRAVIS_SCALA_VERSION! validateJS && sbt ++$TRAVIS_SCALA_VERSION! validateKernelJS && sbt ++$TRAVIS_SCALA_VERSION! validateFreeJS
      scala: *scala_version_212

    - &jvm_tests
      stage: test
      env: TEST="JVM tests"
      install: pip install --user codecov
      script: sbt ++$TRAVIS_SCALA_VERSION! coverage buildJVM bench/test coverageReport
      scala: *scala_version_212
      after_success: codecov -F scala_version_212
    - <<: *jvm_tests
      scala: *scala_version_213
      after_success: codecov -F scala_version_213


    - stage: test
      env: TEST="docs"
      install: gem install jekyll -v 2.5
      script: sbt docs/makeMicrosite

    - stage: test
      env: TEST="scalafix"
      script: cd scalafix && sbt tests/test

    - stage: test
      env: TEST="binary compatibility"
      script: sbt ++$TRAVIS_SCALA_VERSION! validateBC
      scala: *scala_version_212

    - stage: styling
      env: TEST="linting"
      script: sbt fmtCheck

    - stage: publish snapshot
      script: |
        if [[ $(cat version.sbt) =~ "-SNAPSHOT" ]]; then
          sbt +publish gitSnapshots +publish
        else
          echo Not publishing a snapshot because the version does not end with -SNAPSHOT for version $TRAVIS_SCALA_VERSION
        fi

notifications:
  webhooks:
    urls:
    - ${GITTER_WEBHOOK_URL}
    on_success: change
    on_failure: always
    on_start: false

env:
  global:
    # Sonatype Credential
    - secure: Kf44XQFpq2QGe3rn98Dsf5Uz3WXzPDralS54co7sqT5oQGs1mYLYZRYz+I75ZSo5ffZ86H7M+AI9YFofqGwAjBixBbqf1tGkUh3oZp2fN3QfqzazGV3HzC+o41zALG5FL+UBaURev9ChQ5fYeTtFB7YAzejHz4y5E97awk934Rg=
    - secure: QbNAu0jCaKrwjJi7KZtYEBA/pYbTJ91Y1x/eLAJpsamswVOvwnThA/TLYuux+oiZQCiDUpBzP3oxksIrEEUAhl0lMtqRFY3MrcUr+si9NIjX8hmoFwkvZ5o1b7pmLF6Vz3rQeP/EWMLcljLzEwsrRXeK0Ei2E4vFpsg8yz1YXJg=
    - TRAVIS_NODE_VERSION="4"
    # Hydra License
    - secure: "Nwd0ySmT7BQJcQb/Dyrkv/B1uYLrE5u+Ppz3Q3d6FvEB5z3XzzDai03hjMwwFwMgXGtZ2Aio0KqF2qf3oINPkmSVx1ntvL0JqwRZqxF5YPLp/vb8b4LbvHrzsf5Jh/EFK5JOdN6ApPlhw8u1X1ifvJbG6yVt9qRxCejHOI0ZT4k="
    # Hydra Metrics Credential
    - secure: "Xbc3y1rTRDj2ThfsT3Pj98T3OgC90aZlVrgAFtOrSTknZAK0jArlvsKg456PvTPcR2uY6c7wvyebSaq+RYReFX2XpCfRjc4ywGCUtnbfcvzO4IA/MIUkFtFQJJqBXHlN5IFqjOZyaX6svD9fNscYg0NP1pqJ6vW54ArvKTALtHM="
    - secure: "hbKDZntISUgbYAXK8Q6M8XwhjB7l5yHyWIs9RjnEdV0YRfcTZIba8WEaE2JFe3MdyPUhGYAWf1AVFXLdfRSmvNHMEeVPitw5cAVxPMxhfgJnPRBVhgBsr9oMl/QQbLu7/w013m6ChYmZspApzyAfmZM2ZNKsYiX/AvoBVYeGdPQ="

cache:
  directories:
    - .hydra
    - $HOME/.m2
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.coursier
    # Pants cache
    - $HOME/.cache

